/*Da estilos a las tarjetas del portal_usuario.php, portal_especialista.php y portal_usuario_autorizado.php*/
/*----------------------------cabecera del cuerpo------------------------------*/
.cabeceraCuerpo{/*Estilos de texto, fondo y tamaño de la cabecera del cuerpo de la página*/
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: #281da2;
    font-family: lexend, Arial, Helvetica, sans-serif;
    height: 300px;
    width: 75%;
    border-radius: 10px;
    background-image: url("../imagenes/imagenes_portal_de_usuario/Cabecera_Portal_usuario.png");
  }
  .tituloCabecera {/*Estilos de tamño de texto y padding superior y derecho, del parrafo que contiene en la cabecera--cabecera-cuerpo p{}*/
    padding-top: 114px;
    padding-right: 105px;
    font-size: 38px;
  }
  .cuerpo{/*Estilos para centrar el contenido del cuerpo de la página*/
    display: flex;
    justify-content: center;
  }
  .menuTarjetas {/*Estilos para centrar y dar padding a las tarjetas*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
  }
  .tarjeta {/*Estilos de texto, fondo, anchura y altura, borde y cursor pointer para las tarjetas con las que interactua el usuario*/
    border: 1px solid rgb(153, 160, 174);
    border-radius: 10%;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 12px;
    margin: 12px;
    background-color:white;
    color: #482b97;
    font-size: 28px;
    cursor: pointer;
  }
  .tarjeta:hover{/*Estilos para cuando pasa el raton por encima de cada tarjeta cambie el fondo y el color del texto*/
    background-color: rgb(153, 160, 174);
    color: white;
  }
  .imagenesEtiquetas{/*Estilo para dar tamaño a las imagenes de cada tarjeta*/
    width: 200px;
    height: 150px;
  }
  .imagenes-etiquetas-autorizado{/*Estilo para dar tamaño a las imagenes de cada tarjeta del portal personal autorizado*/
    width: 200px;
    height: 125px;
  
  }
  .tarjetas_centros_y_especialistas {/*CSS para las tarjetas de la página especialistas y hospitales*/
    flex-basis: 23%; /* Establece el ancho de cada tarjeta en un 25% para mostrar cuatro tarjetas por fila */
    padding: 10px; /* Agrega un margen interno de 10px a cada tarjeta */
    box-sizing: border-box; /* Incluye el padding en el ancho total de la tarjeta */
    margin: 10px; /* Agrega un margen externo de 10px a cada tarjeta */
  }
  
  /* Establece un ancho máximo para cada fila */
  .row {
    max-width: 1000px;
    margin: 0 auto;
  }