.contenedorPerfil{/*Estilo para dividir en columnas el cuerpo de la página*/
    display: flex;
    flex-direction: row;
}
.contenedorDatos{/*Estilos para los contenedores que contienen los datos del usuario*/
    background-color: beige;
    border: 1px solid #281da2;
    border-radius: 10px;
    width: 35%;
    margin: 10px 20px 10px 20px; /*arriba, derecha,abajo,izquierda*/

}
.contenedorImagen{/*Estilos de margen izquierdo y derecho del contenedor que contien la imagen*/
    margin-right: 20px;
    margin-left: 30px;
}
.contenedorDatosModificar{/*Estilos para el contenedor del formulario donde el usuario puede modificar sus datos*/
    background-color: beige;
    border: 1px solid #281da2;
    border-radius: 10px;
    margin: 10px 20px 10px 20px; 
    width: 60%;
}
.contenedorCambiarImagen{/*Estilo para poner el botón de cambiar imagen en la misma fila que la imagen del usuario*/
    display: flex;
    flex-direction: column;

}
.etiquetaDatos{/*Estilos para el texto que muestra el campo de los datos del usuario como el nombre, apellidos, etc.*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #281da2;
    font-family: lexend, Arial, Helvetica, sans-serif;
    padding: 10px;
}
.etiquetaDatosFotos{/*Estilos para la foto del usuario*/
    width: 10px;
    height: 10px;
    border-radius: 45px;
    border: 1px solid #281da2;
}
.datos{/*Estilos para el texto de los datos del usuario*/
    color: black;
    font-size: 23px;
}
.logoModificar{/*Margen y paddin para el logo de modificar foto*/
    margin: 10px 10px 0px 10px ;
    padding-left: 50px;
}
.menu{/*Estilos para el menú de los datos al pasar el ratón por encima se cambia*/
    width: 35%;
    border-radius: 10px;
    margin: 20px 15px 30px 10px;
    cursor: pointer;
}
.submenu{/*Estilos para el submenu del formulario para modificar los datos y lo oculta */
    width: 57%;
    border:1px solid #281da2;
    border-radius: 10px;
    margin: 20px 0 0 20px;
    display: none;
}